.navbar{
    position: relative !important;
}
.dropdownMenu{
    background: white !important;
}
.dropdownMenu li a{
    color: rgb(0, 0, 0) !important;
}
.dropdownMenu li:hover a{
    color: rgb(255, 255, 255) !important;
}
.dropdownMenu li:hover{
    background-color: var(--pr-colorDark) !important;
    color: white !important;
}
#submenu{
    background-color: rgb(255, 255, 255) !important;
}
#submenu li a{
    color: black !important;
}
#submenu li:hover a{
    color: rgb(252, 252, 252) !important;
}

/* hero section */
.hero{
    background: url(../img/ibadah/hero.jpg);
    width: 100vw;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 90%;
    background-attachment: fixed;
    position: relative;
}
.hero::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.container-text{
    height: 80px;
    background:var(--pr-colorDark);
    display: flex;
    justify-content: center;
    align-items: center;
}
.running-text{
    color: white;
}