.navbar{
    position: relative !important;
}
.dropdownMenu{
    background: white !important;
}
.dropdownMenu li a{
    color: rgb(0, 0, 0) !important;
}
.dropdownMenu li:hover a{
    color: rgb(255, 255, 255) !important;
}
.dropdownMenu li:hover{
    background-color: var(--pr-colorDark) !important;
    color: white !important;
}
#submenu{
    background-color: rgb(255, 255, 255) !important;
}
#submenu li a{
    color: black !important;
}
#submenu li:hover a{
    color: rgb(252, 252, 252) !important;
}

/* hero section */
.hero{
    background: url(../img/ibadah/hero.jpg);
    width: 100vw;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 90%;
    background-attachment: fixed;
    position: relative;
}
.hero::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.container-text{
    height: 80px;
    background:var(--pr-colorDark);
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    
}
.running-text{
    font-size: 2.5rem;
    text-wrap: nowrap;
    color: white;
    font-family: 'playfair','sans';
    font-weight: 900;
    background:linear-gradient(to right,
    #23DD05,
    #02DCDC,
    #B152FC,
    #FAE105,
    #23DD05);
    background-size: 200% 100%;
     color: transparent;
     -webkit-background-clip:text;
     animation: marquee 15s infinite linear, backgroundMove 5s infinite linear; 
     
}

@keyframes marquee {
    from {
        transform: translateX(150%);
    }
    to {
        transform: translateX(-100%);
    }
}
@keyframes backgroundMove {
    from {
        background-position: 0% 50%;
    }
    to {
        background-position: 200% 50%;
    }
}

/* event */
#title-event{
 font-size: 3rem;
 color: black;
 font-family: 'lora','sans';
 font-weight: 600;
}
#subtitle-event{
 font-size: 2.5rem;
 color: black;
 font-family: 'lora','sans';
 font-weight: 500;
}

.img-container-event .img-small{
    width: 70%;
    height: auto;
    position: relative;
    
}
.img-container-event .img-large{
    width: 90%;
    height: auto;
    position: relative;
}
.img-container-event .img-small::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 95%;
    height: 90%;
    border: 2px solid white;
    border-radius: 5px;
    
}
.img-container-event .img-large::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 95%;
    height: 90%;
    border: 2px solid white;
    border-radius: 5px;
}

.img-small img, .img-large img{
    width: 100%;
    border-radius: 5px;
   
}
.content-event{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-event .col-12{
    font-family: 'lora','sans';
    text-align: center;
}

.content-event .col-12:nth-child(1){
    font-size: 35px;
    font-weight: 500;
}

.content-event .col-12:nth-child(2){
    font-size: 100px;
    font-weight: 700;
}
.content-event .col-12:nth-child(3) .btn-event{
    font-size: 35px;
    font-weight: 500;
    padding: 5px 40px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: var(--pr-colorDark);
    color: white;
    position: relative;
    border: none;
}
.content-event .col-12:nth-child(3) .btn-event::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 110%;
    height: 120%;
    background: linear-gradient(to right, rgb(233, 49, 49),rgb(28, 221, 28),rgb(9, 88, 235),rgb(233, 49, 49));
    border: none;
    background-size: 600%;
    filter: blur(5px);
    border-radius: 10px;
    z-index: -1;
    opacity: 0;
    animation: btnHover 10s infinite linear;
    transition: opacity 0.3s ease-in-out;
}

@keyframes btnHover {
    0%{ background-position:0% 0%}
    50%{ background-position:400% 0% }
    100%{ background-position:0% 0% }
}


.content-event .col-12:nth-child(3) .btn-event:hover::before{
 opacity: 1;
}