.navbar{
    position: relative !important;
}
.dropdownMenu{
    background: white !important;
}
.dropdownMenu li a{
    color: rgb(0, 0, 0) !important;
}
.dropdownMenu li:hover a{
    color: rgb(255, 255, 255) !important;
}
.dropdownMenu li:hover{
    background-color: var(--pr-colorDark) !important;
    color: white !important;
}
#submenu{
    background-color: rgb(255, 255, 255) !important;
}
#submenu li a{
    color: black !important;
}
#submenu li:hover a{
    color: rgb(252, 252, 252) !important;
}

/* hero section */
.hero{
    background: url(../img/ibadah/hero.jpg);
    width: 100vw;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 90%;
    background-attachment: fixed;
    position: relative;
}
.hero::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.container-text{
    height: 80px;
    background:var(--pr-colorDark);
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    
}
.running-text{
    font-size: 2.5rem;
    text-wrap: nowrap;
    color: white;
    font-family: 'playfair','sans';
    font-weight: 900;
    background:linear-gradient(to right,
    #23DD05,
    #02DCDC,
    #B152FC,
    #FAE105,
    #23DD05);
    background-size: 200% 100%;
     color: transparent;
     -webkit-background-clip:text;
     animation: marquee 15s infinite linear, backgroundMove 5s infinite linear; 
     
}

@keyframes marquee {
    from {
        transform: translateX(150%);
    }
    to {
        transform: translateX(-100%);
    }
}
@keyframes backgroundMove {
    from {
        background-position: 0% 50%;
    }
    to {
        background-position: 200% 50%;
    }
}