body{
    height: 200vh;
}

.navbar .container-fluid .navbar-brand{
    font-size: 2.5rem;
    font-family: 'popins','sans-serif';
    font-weight: 900;
}
.navbar .container-fluid .navbar-brand img{
    width: 6rem;
}
.navbar .container-fluid .navbar-brand span{
    justify-content: center;
    align-items: center;
}
#navbarNav{
    font-size: 1.6rem;
    
}
.navbar{
    z-index: 3;
}

/* Hero Sction */
#hero{
    width: 100vw;
    height: 100vh;
    background:url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}
#hero::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.4);
    z-index: 2;

}
#hero::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:linear-gradient(to bottom, rgba(255,255,255,0)90%,rgba(255, 255, 255,1)100%);
    z-index: 3;

}
#hero .container-fluid .row .col-12{
    z-index: 4;
}
.container-content-hero{
    margin-top: -8rem;
}
.welcome{
    color: white;
    font-family: 'merriweather','popins','sans';
    font-size: 3rem;
    padding-bottom: 0.5rem;
}
.hero-title{
    color: white;
    font-family: 'merriweather','popins','sans';
    font-weight: 900;
    font-size: 4rem;
    padding-bottom: 0.5rem;
}
.hero-content{
    color: white;
    font-family: 'popins','sans';
    font-style: italic;
    font-size: 1.6rem;
    width: 50%;
    text-align: justify;
}

.hero-content-span {
    color: white;
    font-family: 'popins','sans';
    font-style: italic;
    font-size: 1.6rem;
    font-weight: 900;
    margin-top: -20px;
    padding-bottom: 0.5rem;
}

.btn-hero{
    width: 14rem;
    background: linear-gradient(to right, #7FA1C3,#6482AD);
    border-radius: 17px;
    color: white;
    font-family: 'popins','sans';
    font-weight: 900;
    border: none;
    font-size: 1.5rem;
    padding: 5px 15px;
    box-shadow: 1px 1px 2px black;
}

/* about */
#about{
    margin-bottom: 8rem;
}
#about .title{
    font-size: 4rem;
    font-weight: 800;
    font-family: 'poppins','sans';
}
#about .row2{
    padding: 3rem;
}
#about .about-img{
    width: 25rem;
    height: auto;
    position: relative;
    z-index: 1;
}
.about-img::before{
    content: "";
    width: 90%;
    height: 90%;
    position: absolute;
    background-color: #6482AD;
    z-index: -1;
    top: 70px;
    left: -25px;
    border-radius: 67px;
    border: none;
}
#about .about-content{
    width: 40%;
    padding-left: 4rem;
}
#about .about-content h1{
    font-family: 'poppins','sans';
    font-size: 2.5rem;
    font-weight: 700;
}
#about .about-content p{
    font-family: 'poppins','sans';
    font-size: 1rem;
    font-weight: 400;
    padding: 2rem 0rem;
    text-align: justify;
}

/* gallery */
#gallery{
    background: url('../img/background-gallery.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#gallery .container{
    max-width: 80%;
    background-color: rgba(0, 0, 0,0.3);
    margin:8rem 0rem;
    padding-bottom: 10rem;
    position: relative;
    border-radius: 20px;
}
.title-gallery{
    font-size: 4rem;
    font-weight: 800;
    font-family: 'poppins','sans';
    padding: 5rem 0px 5rem;
    color: white;
    font-style: italic;
}
.title-gallery::after{
    content:"Lihat Selengkapnya >>>";
    font-size: 1.2rem;
    font-weight: 300;
    font-family: 'poppins','sans';
    color: white;
    font-style: italic;
    position: absolute;
    right: 30px;
    top: 12rem;
}
.container-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    width: 70%;
    height: auto;
    gap: 20px;
    position: relative;
    z-index: 1;
}
.container-content img{
    border-radius: 8%;
    object-fit: cover;
}

.box img{
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 10px rgb(3, 3, 3);
    
}

.box1{
    grid-column: 1/2;
    grid-row: 1/2;
}
.box2{
    grid-column: 2/4;
    grid-row: 1/3;
}
.box3{
    grid-column: 4/5;
    grid-row: 1/2;
}
.box4{
    grid-column: 1/2;
    grid-row: 2/4;
}
.box5{
    grid-column: 4/5;
    grid-row: 2/3;
}
.box6{
    grid-column: 2/3;
    grid-row: 3/4;
}
.box7{
    grid-column: 3/5;
    grid-row: 3/4;
}



@media (max-width:1500px){
    #about .about-img{
        width: 20rem;
        height: max-content;
    }
    .about-img::before{
        top: 60px;
        left: -20px;
    }
}

@media (max-width:992px){
    .container-content-hero{
        margin-top: 0rem;
    }
    .hero-title{
        font-size: 60px;
    }
    #hero{
        background-position: 80% 50%;
    }
    .hero-content{
        font-size: 1.4rem;
        width: 90%;
        text-align: justify;
    }
    #about .about-content{
    width: 40%;
    padding-left: 4rem;
}
    #about .row2{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1px;
    }
    .about-img{
        margin-bottom: 5rem;
    }
    #about .about-content{
        width: 80%;
        padding-left: 0.8rem;

    }
    #about .about-content p{
        padding: 1rem 0rem;
    }
}

@media (max-width:768px){
    .welcome{
        font-size: 2rem;
    }
    .hero-title{
        font-size: 47px;
    }
    #hero{
        background-position: 80% 50%;
    }
    .hero-content{
        font-size: 1.2rem;
        width: 90%;
        text-align: justify;
    }
    #about .title{
        font-size: 3rem;
    }
    #about .about-content h1{
        font-size: 2rem;
    }
    #about .about-content p{
        font-size: 0.8rem;
    }
    .about-img::before{
        width: 90%;
        height: 90%;
        top: 50px;
        left: -20px;
        border-radius: 50px;
    }
}

@media (max-width:576px){
    .navbar .container-fluid .navbar-brand img{
        width: 5rem;
    }
    .navbar .container-fluid .navbar-brand span{
        font-size: 2rem;
    }
    .welcome{
        font-size: 1.5rem;
    }
    .hero-title{
        font-size: 35px;
    }
    #hero{
        background-position: 80% 50%;
    }
    .hero-content{
        font-size: 1rem;
        width: 90%;
        text-align: justify;
    }
    .btn-hero{
        width: 10rem;
        font-size: 1.2rem;
    }
    .hero-content-span {
        font-size: 1.2rem;
    }
    #about .title{
        font-size: 2.5rem;
    }
    #about .about-content h1{
        font-size: 1.8rem;
    }
    #about .about-content p{
        font-size: 0.8rem;
    }
    .about-img::before{
        width: 90%;
        height: 90%;
        top: 40px;
        left: -15px;
        border-radius: 40px;
    }
    #about .about-content{
        margin-top: -3rem;
    }
}
@media (max-width:455px){
    .welcome{
        font-size: 1rem;
    }
    .hero-title{
        font-size: 20px;
    }
    #hero{
        background-position: 80% 50%;
    }
    .hero-content{
        font-size: 0.8rem;
        width: 90%;
        text-align: justify;
    }
    .hero-content-span {
        font-size: 1rem;
    }
    .btn-hero{
        width: 8rem;
        font-size: 0.8rem;
    }
    #about .title{
        font-size: 2.3rem;
    }
    #about .about-content h1{
        font-size: 1.6rem;
    }
    #about .about-content p{
        font-size: 0.8rem;
    }
    .about-img::before{
        border-radius: 30px;
        top: 37px;
        left: -10px;
        
    }
    #about .about-content{
        margin-top: -4rem;
    }
    
}
@media (max-width:340px){
    .about-img::before{
        border-radius: 26px;
        top: 26px;
        left: -9px;
        
    }
    
}